container {
margin-top: 20px;
margin-left: 200px;
margin-right: 200px;
border-radius: 15px;
background-color: #228b22;
text-align: left;
border: dashed;
}
characteristics {
border: solid;
border-color: #ff0000;
text-align: left;
} 
experience {
border: solid;
border-color: #0000ff;
}

h1 {
font-size: 72px;
margin-bottom: -35px;
text-align: center;
}

h2 {  
font-size: 42px;
margin-bottom: -10px;
text-align: center;
}

h3 {
font-size: 30px;
margin-bottom: -5px;
}

h4 {
font-size: 45px;
margin-bottom: -20px;
}

p {
font-size: 28px; 

}

li {
font-size: 28px; 
text-align: center;
padding: 5px;
margin-top: 10px;
}
