container {
margin-top: 20px;
margin-left: 200px;
margin-right: 200px;
padding: 10px 150px 10px 150px;
border-radius: 15px;
background-color: ##228B22;
text-align: left;
}
characteristics {

} 
experience {

}

h1 {
font-size: 72px;
  margin-bottom: -25px;
}

h2 {  
font-size: 25px;
margin-bottom: -10px
}

h3 {
font-size: 35px;
margin-bottom: -10px;
}

h4 {
font-family: 'Lato', sans-serif;
margin-bottom: -10px
}

p {
font-size: 15px; 
}

li {
font-size: 15px;  
}
